.menu-pop-wrapper{
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(136, 136, 136, 0.4);
}
.menu-pop-main{
    width: 70%;
    height: fit-content;
    border-radius: 1.5em;
    background-color: rgb(250, 250, 250);
}