body{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
}
.pos{
  height: 95vh;
  overflow: hidden;
  background-color: black;

}
.banner{
  height: 10vh;
  background-position: center;
  background-repeat: space;
  background-size:cover ;
  color: white;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.banner h3 {
  border: 2px solid white;
}
.banner p, .banner h3{
  width: fit-content;
  margin: 0;
}
.main{
  height: 85vh;
}
.menu-wrapper{
  overflow-y: scroll;
  height: 100%;
  background-color: rgb(238, 238, 238);
}


.menu-wrapper::-webkit-scrollbar {
  width: 3px;
}
 

 
.menu-wrapper::-webkit-scrollbar-thumb {
  background-color: darkgray;
  border-radius: 1em;
}

.billing-wrapper{
  background-color: rgb(231, 231, 231);
  height: 85vh;
}